.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.venv/
venv/
logs/
runs/
checkpoints/
saved_model/
data/camelyon16/features
data/camelyon16/patching
data/camelyon16/slides
data/tcga_lihc_er/patches
data/tcga_lihc_er/features_uni
*.pth
*.pt
*.ckpt
*.h5
.DS_Store
